<div class="container">
  <div class="bar-menu">
    <app-side-nav-button
      icon='dashboard'
      label='Dashboard'
      [selected]="selectedOption === 'dashboard'"
      (click)="selectOption('dashboard')"
    >
    </app-side-nav-button>
    <app-side-nav-button
      icon='product'
      label='Productos'
      [selected]="selectedOption === 'products'"
      (click)="selectOption('products')"
    >
    </app-side-nav-button>
    <app-side-nav-button
      icon='inventory'
      label='Inventario'
      [selected]="selectedOption === 'inventory'"
      (click)="selectOption('inventory')"
    >
    </app-side-nav-button>
    <app-side-nav-button
      icon='provider'
      label='Proveedores'
      [selected]="selectedOption === 'providers'"
      (click)="selectOption('providers')"
    >
    </app-side-nav-button>
    <app-side-nav-button
      icon='requisition'
      label='Requisiciones'
      [selected]="selectedOption === 'requisitions'"
      (click)="selectOption('requisitions')"
    >
    </app-side-nav-button>
    <app-side-nav-button
      icon='history'
      label='Historial'
      [selected]="selectedOption === 'history'"
      (click)="selectOption('history')"
    >
    </app-side-nav-button>
    <div class="dot" [style.left.rem]="iconTopPosition"></div>
  </div>
</div>
